[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pandas = "*"
numpy = "*"
python-dotenv = "*"
cryptography = "*"
plotly = "*"
gunicorn = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.11"
